<!DOCTYPE html>
<html ng-app="parking">
<head>
	<title>Mail Service</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js">
</script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/directive.js"></script>

</head>
<body>
<div class="container" ng-controller="parkingCtrl">

<h3 ng-bind="appTitle"></h3>
<div ng-show="cars.length >0">
<input type="text" ng-model="criteria" placeholder="what are you loking for"/>
<table>
      <thead>
        <tr>
         <th></th>
          <th><a href="" ng-click="field='plate'; order='!order'">Plate</a></th>
            <th></th>
          <th><a href="" ng-click="field='color'; order='!order'">Color</a></th>

          <th><a href="" ng-click="field='entrance'; order='!order'">Entrance</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{selected:car.selected}" ng-repeat="car in cars| filter:criteria | orderBy:field:order">

          <td><input type="checkbox" ng-model="car.selected"></td>
          <td><span> {{car.plate}}</span></td>
          <td><span>{{car.color}}</span></td>
          <td><span>{{car.entrance}}</span></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div ng-hide="cars.length > 0">
    <p>The parking lot is empty</p>
    </div>
    <!-- ng-model is required for the use of ng-options -->
    <input type="text" ng-model="car.plate" placeholder="whats the plate"/>
    <select ng-model="car.color" ng-options="color for color in colors">Pick a color</select>
    <button ng-click="park(car)" ng-disabled="!car.plate || !car.color">Park</button>

<alert>
  topic=" Something went wrong!"
   description="You must inform the plate and the color of the car!"
</alert>
</div>

</body>
</html>
